.commitHeader {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}

.githubLogo {
  display: flex;
  justify-content: center;
  flex-basis: 25vw;
}

.commitTitle {
  display: flex;
  justify-content: center;
  flex-basis: 50vw;
  font-size: 2.4rem;
  font-weight: bold;
}

.commitCountWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25vw;
  gap: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.dayContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
}

.commitBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.day {
  font-weight: bold;
}

.today {
  font-weight: bold;
  color: var(--color-blue);
}

.commitBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 4rem;
  border: 4px solid black;
  border-radius: 20px;
}

.commitItem {
  border: 1px solid black;
  padding: 10px 0px;
}

.todayCommit {
  font-weight: bold;
  color: var(--color-blue);
}