.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px 0px;
}

.infoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px -5px;
}

.profileImage {
  border-radius: 200px;
}

.link {
  text-decoration : none;
  color: var(--color-blue);
}

.rightInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
}

.projectTitle {
  font-size: 1.6rem;
  font-weight: bold;
}

.projectContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 65vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px -5px;
}

.projectLeftWrapper{
  flex-basis: 35vw;
}

.projectRightWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 65vw;
  gap: 10px;
  font-weight: bold;
}

.projectDate {
  color: gray;
}